<div style="text-align:center">
  <h1>
    Ngx-Webcam Demo
  </h1>

  <div>
    <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    >
  </webcam>
    <br/>
    <button class="actionBtn" (click)="triggerSnapshot();" [disabled]="registerForm">Take A Snapshot</button>
    <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
    <button class="actionBtn" (click)=" save_image();">save_image</button>
    <br/>
    <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
    <!--<input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>-->
    <br/>
    DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
    <!--<button (click)="showNextWebcam(deviceId)">Activate</button>-->
    
  </div>
</div>
<div class="col-xs-10 col-md-9">
    <select class="form-control Dr_input Dr_select Dr_input_size"   [(ngModel)]="slect" 
      (change)="showNextWebcam(deviceId)">
      <option>Sélectionner</option>
      <option value="{{cla}}" *ngFor="let cla of slect">{{cla}}</option>
    </select>
  </div>
<div class="snapshot" *ngIf="webcamImage">
  <h2>Nice one!</h2>
  <ul>
    <li *ngFor="let a of captures">
        <img [src]="a.imageAsDataUrl"/>
    </li>
    </ul>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>


<circle-progress
  [percent]="percent"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
  [showSubtitle] ="false"
  [style.visibility]="isMiddleDivVisible ? 'visible' : 'hidden'"
></circle-progress>
